html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: white;
}

input,
input:hover,
input:focus,
input:active {
  border: none;
  background-color: transparent;
  outline: none;
}

/* utilidades */

.contenedor-notificaciones {
  z-index: 1;
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  padding: 0.5rem;
}

.button-no-styles {
  border: none;
  background-color: transparent;
}
.button-no-styles:hover {
  cursor: pointer;
}
.contenedor{
  width:min();
}